In [1]:
import pandas as pd
import datetime
from datetime import datetime, date, timedelta
import time
import numpy as np
import plotly
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import plotly.express as px
import psycopg2  # required to connect to the PostgreSQL databases

# from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

## Check Versions

In [2]:
from platform import python_version
print('python version installed     :', python_version(),'    ,needed: 3.7.7 or higher')
print('plotly version installed     :', plotly.__version__,'   ,needed: 4.14.3 or higher')
print('matplotlib version installed :', matplotlib.__version__,'    ,needed: 3.2.2 or higher')
print('numpy version installed      :', np.__version__,'    ,needed: 1.19.5 or higher')

python version installed     : 3.7.11     ,needed: 3.7.7 or higher
plotly version installed     : 5.18.0    ,needed: 4.14.3 or higher
matplotlib version installed : 3.5.3     ,needed: 3.2.2 or higher
numpy version installed      : 1.21.2     ,needed: 1.19.5 or higher

In [3]:
# Establish a connection to the PostgreSQL database
# Replace 'YourNetID' with your actual NetID (inside double quotes)
db_connection = psycopg2.connect(
    host='129.105.248.26',   # IP address of the Postgres database server
    dbname="onmart",         # Name of the database to connect to
    user="esn2981"           # NetID for authentication
)

# Create a cursor object using the established connection
# The cursor is used to execute queries and fetch data from the database
cursor = db_connection.cursor()

In [4]:
# Execute SQL query to retrieve column names from the 'transactions_log' table
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'transactions_log'")

# Fetch all the rows returned by the executed query
columns = cursor.fetchall()

# Display the fetched column names
columns

[('customerid',),
 ('firstname',),
 ('lastname',),
 ('creditcardnumber',),
 ('orderid',),
 ('purchasedate',),
 ('expecteddeliverydate',),
 ('actualdeliverydate',),
 ('productid',),
 ('department',),
 ('category',),
 ('itempurchased',),
 ('quantity',),
 ('price',),
 ('shippingcost',),
 ('discount',),
 ('sales',),
 ('profit',),
 ('deliveryzipcode',),
 ('homezipcode',),
 ('segment',),
 ('orderpriority',),
 ('orderreturned',),
 ('rating',),
 ('reviewid',),
 ('friends',),
 ('sharedwith',)]

In [5]:
# Get 5 rows from the transactions_log table

# Execute the SQL query using the cursor object.
cursor.execute("SELECT * from transactions_log limit 5;")

# Fetch all the rows returned by the executed query.
rows=cursor.fetchall()

# Print the retrieved rows
for row in rows:
    print(row)

('293-11-5311', 'Walton', 'Bode', 'xxxx-xxxx-xxxx-3964', '0feb37cf-9a88-44a3-a6d6-37eef9558e6f', datetime.date(2018, 10, 7), datetime.date(2018, 10, 11), datetime.date(2018, 10, 15), 'GRO-NU-7738-283', 'Grocery', 'Nuts', 'Planters Deluxe Lightly Salted Whole Cashews', 4, 7.01, 1.59, 1.56, 28.07, 3.0877, '60665', '60665', 'Consumer', 'medium', 'Yes', 2, 'b37cf-9a88', '897-68-9758', '897-68-9758')
('639-08-3326', 'Ona', 'Lesch', 'xxxx-xxxx-xxxx-2846', '883acefc-21d1-4996-9253-7fc712f2f831', datetime.date(2019, 6, 22), datetime.date(2019, 6, 26), datetime.date(2019, 6, 30), 'ELE-CO-7102-633', 'Electronics', 'Copiers', 'HP Wireless Fax - Digital', 5, 577.49, 24.48, 21.63, 2890.3, 433.545, '10081', '10081', 'Corporate', 'low', 'Yes', 2, 'acefc-21d1', '', '')
('254-40-1207', 'Damaris', 'Hyatt', 'xxxx-xxxx-xxxx-9740', '78e75900-3d4e-424d-8ba3-b36444a22700', datetime.date(2019, 1, 20), datetime.date(2019, 1, 24), datetime.date(2019, 1, 28), 'GRO-SN-8142-820', 'Grocery', 'Snacks', 'Lays Potato Chip Variety Pack', 2, 14.18, 1.35, 1.89, 27.82, 3.3384, '60687', '60687', 'Corporate', 'low', 'No', 2, '75900-3d4e', '321-69-8299;773-66-1949;785-50-3598;541-33-8550', '773-66-1949;785-50-3598;541-33-8550')
('709-03-9532', 'Juliana', 'Kuvalis', 'xxxx-xxxx-xxxx-5778', '1f9b5ea7-3415-4233-9636-0c98a441d1ed', datetime.date(2019, 10, 11), datetime.date(2019, 10, 15), datetime.date(2019, 10, 15), 'OFF-BI-4416-867', 'Office Supplies', 'Binders', 'Avery Binding System', 3, 14.05, 2.82, 1.54, 43.43, 4.7773, '30351', '30351', 'Corporate', 'low', 'No', 2, 'b5ea7-3415', '160-38-5132;645-73-5371;596-37-1575;775-05-9484', '645-73-5371;596-37-1575;775-05-9484')
('468-69-8320', 'Jedidiah', 'Williamson', 'xxxx-xxxx-xxxx-4986', '17721c38-d8c5-4afd-b719-d8560d9ebfb7', datetime.date(2018, 5, 15), datetime.date(2018, 5, 19), datetime.date(2018, 5, 23), 'GRO-BE-6654-483', 'Grocery', 'Beans', 'Cilantro Label Pinto Beans', 4, 4.83, 2.78, 1.84, 20.26, 3.6468, '33111', '33111', 'Home Office', 'High', 'No', 1, '', '357-50-8378;310-58-6838;021-33-8740', '357-50-8378;021-33-8740')

In [6]:
# Putting all together in a pandas data frame.

# Retrieve column names from the cursor.description attribute.
# The description attribute contains metadata about the columns returned by the query.
# Each column's metadata is a tuple, where the first element is the column name.
columns = [column[0] for column in cursor.description]

# Create a DataFrame using the fetched data and the column names.
# This DataFrame represents the transaction log.
# The 'rows' variable contains the data, and 'colnames' provides the column headers.
customers = pd.DataFrame(rows, columns=columns)

# Display the DataFrame
customers

,customerid,firstname,lastname,creditcardnumber,orderid,purchasedate,expecteddeliverydate,actualdeliverydate,productid,department,...,profit,deliveryzipcode,homezipcode,segment,orderpriority,orderreturned,rating,reviewid,friends,sharedwith
0,293-11-5311,Walton,Bode,xxxx-xxxx-xxxx-3964,0feb37cf-9a88-44a3-a6d6-37eef9558e6f,2018-10-07,2018-10-11,2018-10-15,GRO-NU-7738-283,Grocery,...,3.0877,60665,60665,Consumer,medium,Yes,2,b37cf-9a88,897-68-9758,897-68-9758
1,639-08-3326,Ona,Lesch,xxxx-xxxx-xxxx-2846,883acefc-21d1-4996-9253-7fc712f2f831,2019-06-22,2019-06-26,2019-06-30,ELE-CO-7102-633,Electronics,...,433.5450,10081,10081,Corporate,low,Yes,2,acefc-21d1,,
2,254-40-1207,Damaris,Hyatt,xxxx-xxxx-xxxx-9740,78e75900-3d4e-424d-8ba3-b36444a22700,2019-01-20,2019-01-24,2019-01-28,GRO-SN-8142-820,Grocery,...,3.3384,60687,60687,Corporate,low,No,2,75900-3d4e,321-69-8299;773-66-1949;785-50-3598;541-33-8550,773-66-1949;785-50-3598;541-33-8550
3,709-03-9532,Juliana,Kuvalis,xxxx-xxxx-xxxx-5778,1f9b5ea7-3415-4233-9636-0c98a441d1ed,2019-10-11,2019-10-15,2019-10-15,OFF-BI-4416-867,Office Supplies,...,4.7773,30351,30351,Corporate,low,No,2,b5ea7-3415,160-38-5132;645-73-5371;596-37-1575;775-05-9484,645-73-5371;596-37-1575;775-05-9484
4,468-69-8320,Jedidiah,Williamson,xxxx-xxxx-xxxx-4986,17721c38-d8c5-4afd-b719-d8560d9ebfb7,2018-05-15,2018-05-19,2018-05-23,GRO-BE-6654-483,Grocery,...,3.6468,33111,33111,Home Office,High,No,1,,357-50-8378;310-58-6838;021-33-8740,357-50-8378;021-33-8740

In [7]:
cursor.execute("SELECT deliveryzipcode, COUNT(*) AS return_count FROM transactions_log WHERE orderreturned LIKE '%Yes%' GROUP BY deliveryzipcode ORDER BY return_count DESC LIMIT 5")

# Fetch all the rows returned by the executed query.
rows=cursor.fetchall()
columns = [column[0] for column in cursor.description]
results = pd.DataFrame(rows, columns=columns)
results

  deliveryzipcode  return_count
0           75202          1421
1           60660          1411
2           75210          1395
3           60649          1386
4           75218          1386